// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés à l'en-tête du site.
// -----------------------------------------------------------------------------

.header {
  @include flex-row-c-c;
  opacity: 0;
  &__logo {
    @include flex-row-c-c;
    height: 7.3rem;
    margin-bottom: -1rem;
    &__svg {
      width: 16.5rem;
    }
  }
  &__left {
    flex: 3;
    &__arrow {
      flex: 3;
      font-size: 2.1rem;
      margin-top: 1rem;
      margin-left: 2.3rem;
    }
  }
  &__right {
    flex: 3;
  }
}

// .home__header {
//   @include flex-col-c-c;
//   opacity: 0;
//   &__logo {
//     @include flex-row-c-c;
//     height: 7.3rem;
//     margin-bottom: -1rem;
//     &__svg {
//       width: 16.5rem;
//     }
//   }
// }

.menuheader {
  @include flex-row-c-c;
  &__left {
    flex: 3;
    &__arrow {
      flex: 3;
      font-size: 2.1rem;
      margin-top: 1rem;
      margin-left: 2.3rem;
    }
  }
  &__logo {
    @include flex-row-c-c;
    height: 7.3rem;
    margin-bottom: -1rem;
    &__svg {
      width: 16.5rem;
    }
  }
  &__right {
    flex: 3;
  }
}
