.home__main {
  @include flex-col-c-c;
  width: 100vw;
  opacity: 0;
  &__location {
    @include flex-row-c-c;
    width: 100vw;
    height: 5rem;
    background: $background_gradient_location;
    &__mylocation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 16.5rem;
      &__picto {
        font-size: 1.6rem;
        margin-bottom: 0.3rem;
        padding-right: 1.6rem;
      }
      &__input {
        @include font-16-500;
        background-color: $background_color_input;
        border-style: none;
        text-align: center;
        font-size: 1.6rem;
        padding: 0;
        width: 11rem;
        margin-right: 2.8rem;
      }
    }
  }
  &__intro {
    @include flex-col-c-c;
    background-color: $background_color_secondary;
    width: 100vw;
    &__title {
      display: inline-block;
      width: 28rem;
      margin-top: 4rem;
      margin-bottom: 0;
      margin-left: -1.6rem;
      font-size: 2.4rem;
      font-weight: bold;
      text-align: center;
    }
    &__paragraph {
      width: 36rem;
      margin-top: 1.4rem;
      margin-left: 0.8rem;
      line-height: 2rem;
      font-size: 1.8rem;
      font-weight: 300;
      text-align: center;
    }
  }
  &__fonctionnement {
    @include flex-col-c-c;
    margin-top: 2.7rem;
    &__title {
      font-size: 2.4rem;
      align-self: flex-start;
      margin-left: -0.7rem;
      margin-top: 2.1rem;
    }
  }
}

.restaurants {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $background_color_secondary;
  margin-top: 6.7rem;
  padding-top: 3.5rem;
  height: 122.6rem;
  &__title {
    align-self: flex-start;
    font-size: 2.4rem;
    @media screen and (min-width: 768px) and (max-width: 991px) {
    }
  }
}

.restaurants__container {
  display: inline-block;
  @media screen and (min-width: 768px) and (max-width: 991px) {
  }
}

.menumain {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  &__photo {
    width: 100vw;
    object-fit: cover;
    &__resto {
      width: 37.6rem;
      height: 27rem;
      object-fit: cover;
      margin: auto;
    }
  }
  &__carte {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    top: -5.2rem;
    &__title {
      font-family: "Shrikhand";
      font-size: 2.7rem;
      margin-left: 2.1rem;
      margin-top: 3.7rem;
    }
    &__avis {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      /* margin-bottom: 0.8rem; */
      /* margin-right: 2.3rem; */
      margin-left: 9.8rem;
      margin-top: 1.1rem;

      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }

      &--nolike {
        color: black;
      }

      &--like {
        background: -webkit-linear-gradient(#a45cdc, #e471da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__entree {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    margin-top: 0rem;
    animation: fadein 1s 0.5s forwards;
    &__title {
      opacity: 0;
      animation: fadein 1s 0.5s forwards;
      font-weight: 400;
      font-size: 1.6rem;
      margin-left: 2rem;
      margin-top: -3.5rem;
      padding-bottom: 0.5rem;
    }
    &__title:after {
      content: "";
      display: block;
      border-bottom: 0.3rem solid #99e2d0;
      width: 4rem;
      position: relative;
      bottom: -0.5rem;
    }
    &__plat {
      background-color: white;
      display: flex;
      width: 35rem;
      height: 7rem;
      border-radius: 1rem;
      margin-bottom: 1.1rem;
      &__nomdescription {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: block;
        &__nom {
          font-size: 1.8rem;
          font-weight: 500;
          padding-left: 1.2rem;
          padding-top: 1.4rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          display: block;
        }
        &__description {
          padding-left: 1.2rem;
          font-size: 1.5rem;
          padding-top: 0.6rem;
          font-weight: 300;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          margin: auto;
          padding-right: 2rem;
        }
      }
      &__prix {
        min-width: 5.8rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.9rem;
        overflow: hidden;
        width: 0rem;
        background-color: #99e2d0;
        border-radius: 0 1rem 1rem 0;
        color: white;
        transition: width 400ms;
      }
      &:hover {
        cursor: pointer;
      }

      &:hover > .menumain__entree__plat__circle {
        width: 25%;
      }

      &:hover
        > .menumain__entree__plat__circle
        > .menumain__entree__plat__circle__i {
        animation: anim-menu-btn-i 500ms;
      }
    }
  }

  &__plats {
    opacity: 0;
    animation: fadein 1s 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    margin-top: 0rem;
    &__title {
      opacity: 0;
      animation: fadein 1s 1s forwards;
      font-weight: 400;
      font-size: 1.6rem;
      margin-left: 2rem;
      margin-top: 3rem;
      padding-bottom: 0.5rem;
    }
    &__title:after {
      content: "";
      display: block;
      border-bottom: 0.3rem solid #99e2d0;
      width: 4rem;
      position: relative;
      bottom: -0.5rem;
    }
    &__plat {
      background-color: white;
      display: flex;
      width: 35rem;
      height: 7rem;
      border-radius: 1rem;
      margin-bottom: 1.1rem;
      &__nomdescription {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: block;
        &__nom {
          font-size: 1.8rem;
          font-weight: 500;
          padding-left: 1.2rem;
          padding-top: 1.4rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          display: block;
        }
        &__description {
          padding-left: 1.2rem;
          font-size: 1.5rem;
          padding-top: 0.6rem;
          font-weight: 300;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          margin: auto;
          padding-right: 2rem;
        }
      }
      &__prix {
        min-width: 5.8rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.9rem;
        overflow: hidden;
        width: 0rem;
        background-color: #99e2d0;
        border-radius: 0 1rem 1rem 0;
        color: white;
        transition: width 400ms;
      }
    }
    &__plat:hover {
      cursor: pointer;
    }

    &__plat:hover > .menumain__plats__plat__circle {
      width: 25%;
    }

    &__plat:hover
      > .menumain__plats__plat__circle
      > .menumain__plats__plat__circle__i {
      animation: anim-menu-btn-i 500ms;
    }
  }

  &__desserts {
    opacity: 0;
    animation: fadein 1s 1.5s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    margin-top: 0rem;
    &__title {
      opacity: 0;
      animation: fadein 1s 1.5s forwards;
      font-weight: 400;
      font-size: 1.6rem;
      margin-left: 2rem;
      margin-top: 4rem;
      padding-bottom: 0.5rem;
    }
    &__title:after {
      content: "";
      display: block;
      border-bottom: 0.3rem solid #99e2d0;
      width: 4rem;
      position: relative;
      bottom: -0.5rem;
    }
    &__plat {
      background-color: white;
      display: flex;
      width: 35rem;
      height: 7rem;
      border-radius: 1rem;
      margin-bottom: 1.1rem;
      &__nomdescription {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: block;
        &__nom {
          font-size: 1.8rem;
          font-weight: 500;
          padding-left: 1.2rem;
          padding-top: 1.4rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          display: block;
        }
        &__description {
          padding-left: 1.2rem;
          font-size: 1.5rem;
          padding-top: 0.6rem;
          font-weight: 300;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          margin: auto;
          padding-right: 2rem;
        }
      }
      &__prix {
        min-width: 5.8rem;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.9rem;
        overflow: hidden;
        width: 0rem;
        background-color: #99e2d0;
        border-radius: 0 1rem 1rem 0;
        color: white;
        transition: width 400ms;
      }

      &:hover {
        cursor: pointer;
      }

      &:hover > .menumain__desserts__plat__circle {
        width: 25%;
      }

      &:hover
        > .menumain__desserts__plat__circle
        > .menumain__desserts__plat__circle__i {
        animation: anim-menu-btn-i 500ms;
      }
    }
  }
  // A comprendre
  * > .fa-hover-show,
  *:hover > .fa-hover-hidden {
    display: none;
  }
  *:hover > .fa-hover-show {
    display: inline-block;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 3.5rem;
    &__commander {
      height: 5rem;
      width: 19rem;
      color: white;
      border-radius: 3rem;
      border-style: none;
      margin-top: 4.3rem;
      /* margin-left: 0.6rem; */
      background: linear-gradient(
        166deg,
        #d66bdb 0%,
        #e46fda 22%,
        #d96cdb 43%,
        #a85cdb 82%
      );
      font-size: 1.6rem;
      font-weight: 500;
      font-family: "ROBOTO";
      padding-bottom: 0.3rem;
      /* padding-left: 0.8rem; */
      box-shadow: 0.7rem 0.7rem 0.7rem #c8c8c8;
      margin-bottom: 4.7rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }
}
