.homemain {
  opacity: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  width: 100vw;
  &__title {
    font-family: $font_txt;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    margin-left: -1.6rem;
    margin-top: 4rem;
    display: inline-block;
    width: 28rem;
    margin-bottom: 0;
  }
  &__paragraph {
    font-family: $font_txt;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1.4rem;
    margin-left: 0.8rem;
    width: 36rem;
    line-height: 2rem;
  }
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.7rem;
  &__title {
    font-size: 2.4rem;
    // margin-left: 2rem;
    align-self: flex-start;
  }
}

.restaurants {
  width: 100vw;
  // height: 117.4rem;
  display: flex;
  justify-content: center;
  // width: 100vw;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
  background-color: #f6f6f6;
  margin-top: 6.7rem;
  padding-top: 3.5rem;
  height: 122.6rem;
  &__title {
    align-self: flex-start;
    font-size: 2.4rem;
    // margin-left: 2rem;
    @media screen and (min-width: 768px) and (max-width: 991px) {
      // margin-left: 3rem;
    }
  }
}

.restaurants__container {
  display: inline-block;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    // margin-left: 2rem;
    // margin-right: 2rem;
    // margin-bottom: 2rem;
  }
}

.menumain {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  &__photo {
    width: 100vw;
    object-fit: cover;
    &__resto {
      width: 37.6rem;
      height: 27rem;
      object-fit: cover;
      margin: auto;
    }
  }
  &__carte {
    display: flex;
    background-color: #f6f6f6;
    border-radius: 4rem 4rem 0 0;
    position: relative;
    top: -5.2rem;
    &__title {
      font-family: "Shrikhand";
      font-size: 2.7rem;
      margin-left: 2.1rem;
      margin-top: 3.7rem;
    }
    &__avis {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      /* margin-bottom: 0.8rem; */
      /* margin-right: 2.3rem; */
      margin-left: 9.8rem;
      margin-top: 1.1rem;

      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }

      &--nolike {
        color: black;
      }

      &--like {
        background: -webkit-linear-gradient(#a45cdc, #e471da);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  &__entree {
    display: flex;
    flex-direction: column;
    margin-top: -4.5rem;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    /* width: 27rem; */
    /* border: red solid; */
    margin-top: 0rem;
    &__title {
      font-weight: 400;
      font-size: 1.6rem;
      margin-left: 2rem;
      margin-top: -3.5rem;
      padding-bottom: 0.5rem;
    }
    &__title:after {
      content: "";
      display: block;
      border-bottom: 0.3rem solid #99e2d0;
      width: 4rem;
      position: relative;
      bottom: -0.5rem;
    }
    &__plats {
      background-color: white;
      display: flex;
      width: 35rem;
      height: 7rem;
      border-radius: 1rem;
      margin-bottom: 1.1rem;
      &__plat {
        // border: green solid;
        width: 80%;
        &__nom {
          font-size: 1.8rem;
          font-weight: 500;
          padding-left: 1.2rem;
          padding-top: 1.4rem;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        &__ingredient {
          padding-left: 1.2rem;
          font-size: 1.5rem;
          padding-top: 0.6rem;
          font-weight: 300;
          text-overflow: ellipsis;
        }
      }
      &__prix {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 2.2rem;
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      &__circle {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0;
        width: 0;
        animation: anim-menu-btn-out 400ms;
        //   background-color: #99e2d0;
        //   border-radius: 0 1rem 1rem 0;
        //   color: white;
      }
      &__circle:hover {
      }
    }
    &__plats:hover {
      cursor: pointer;
    }
    &__plats:hover > .menumain__entree__plats__circle {
      animation: anim-menu-btn-in 400ms forwards;
    }
    &__plats:hover
      > .menumain__entree__plats__circle
      > .menumain__entree__plats__circle__i {
      animation: anim-menu-btn-i 400ms forwards;
    }
  }

  &__plats {
    display: flex;
    flex-direction: column;
    margin-top: -4.5rem;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    /* width: 27rem; */
    /* border: red solid; */
    margin-top: 0rem;
    &__title {
      font-weight: 400;
      font-size: 1.6rem;
      margin-left: 2rem;
      // margin-top: -3.5rem;
      margin-top: 3rem;
      padding-bottom: 0.5rem;
    }
    &__title:after {
      content: "";
      display: block;
      border-bottom: 0.3rem solid #99e2d0;
      width: 4rem;
      position: relative;
      bottom: -0.5rem;
    }
    &__plat {
      background-color: white;
      display: flex;
      width: 35rem;
      height: 7rem;
      border-radius: 1rem;
      margin-bottom: 1.1rem;
      &__nomdescription {
        // border: green solid;
        width: 80%;
        &__nom {
          font-size: 1.8rem;
          font-weight: 500;
          padding-left: 1.2rem;
          padding-top: 1.4rem;
        }
        &__description {
          padding-left: 1.2rem;
          font-size: 1.5rem;
          padding-top: 0.6rem;
          font-weight: 300;
        }
      }
      &__prix {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 2.2rem;
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  &__desserts {
    display: flex;
    flex-direction: column;
    margin-top: -4.5rem;
    background-color: #f6f6f6;
    justify-content: center;
    align-items: center;
    /* width: 27rem; */
    /* border: red solid; */
    margin-top: 0rem;
    &__title {
      font-weight: 400;
      font-size: 1.6rem;
      margin-left: 2rem;
      // margin-top: -3.5rem;
      margin-top: 4rem;
      padding-bottom: 0.5rem;
    }
    &__title:after {
      content: "";
      display: block;
      border-bottom: 0.3rem solid #99e2d0;
      width: 4rem;
      position: relative;
      bottom: -0.5rem;
    }
    &__dessert {
      background-color: white;
      display: flex;
      width: 35rem;
      height: 7rem;
      border-radius: 1rem;
      margin-bottom: 1.1rem;
      &__nomdescription {
        // border: green solid;
        width: 80%;
        &__nom {
          font-size: 1.8rem;
          font-weight: 500;
          padding-left: 1.2rem;
          padding-top: 1.4rem;
        }
        &__description {
          padding-left: 1.2rem;
          font-size: 1.5rem;
          padding-top: 0.6rem;
          font-weight: 300;
        }
      }
      &__prix {
        width: 20%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-right: 2.2rem;
        padding-bottom: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 3.5rem;
    &__commander {
      height: 5rem;
      width: 19rem;
      color: white;
      border-radius: 3rem;
      border-style: none;
      margin-top: 4.3rem;
      /* margin-left: 0.6rem; */
      background: linear-gradient(
        166deg,
        #d66bdb 0%,
        #e46fda 22%,
        #d96cdb 43%,
        #a85cdb 82%
      );
      font-size: 1.6rem;
      font-weight: 500;
      font-family: "ROBOTO";
      padding-bottom: 0.3rem;
      /* padding-left: 0.8rem; */
      box-shadow: 0.7rem 0.7rem 0.7rem #c8c8c8;
      margin-bottom: 4.7rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
  }

  // A comprendre
  * > .fa-hover-show,
  *:hover > .fa-hover-hidden {
    display: none;
  }
  *:hover > .fa-hover-show {
    display: inline-block;
  }
}
