// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  &--intro {
    width: 21.8rem;
    height: 5rem;
    margin-top: 3.3rem;
    margin-bottom: 5.7rem;
    margin-left: 0.6rem;
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
    border-radius: 3rem;
    border-style: none;
    box-shadow: 0.7rem 0.7rem 0.7rem $box_shadow_primary;
    font-weight: 500;
    color: $font_color_secondary;

    background: linear-gradient(
      to right,
      rgb(214, 107, 219) 0%,
      #99e2d0 50%,
      rgb(255, 121, 218) 100%
    );

    background-size: 500%;
    outline: none;
    user-select: none;
    cursor: pointer;
    &:hover {
      animation-name: gradientposition;
      animation-duration: 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      cursor: pointer;
    }
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      margin-left: 0;
      padding-left: 0;
      width: 22rem;
    }
  }
  &__choisissez {
    @include flex-row-c-c;
    width: 32.2rem;
    height: 7.3rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: $background_color_secondary;
    box-shadow: 0.7rem 0.7rem 0.7rem $box_shadow_secondary;
    border: none;
    transition: 0.3s ease-in-out;
    margin-top: 1.1rem;
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      width: 26rem;
      margin-top: 0;
    }
    @media screen and (min-width: 1440px) {
    }

    &__num {
      @include flex-row-c-c;
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      left: -3rem;
      margin-top: 0.4rem;
      border-radius: 2rem;
      background-color: $color_primary;
      color: $font_color_secondary;
      font-size: 1.4rem;
      font-weight: 400;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        width: 2.7rem;
        left: -2rem;
        margin-top: 0;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &__logo {
      color: $color_logo;
      font-size: 2rem;
      margin-top: 0;
    }

    &__txt {
      @include flex-row-c-c;
      width: 23.3rem;
      margin-right: 1rem;
      margin-top: 0.3rem;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        margin-right: 0;
        margin-top: 0;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &:hover {
      cursor: pointer;
      animation: transition-color 500ms;
      animation-fill-mode: forwards;
    }
  }
  &__composez {
    @include flex-row-c-c;
    width: 32.2rem;
    height: 7.3rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: $background_color_secondary;
    box-shadow: 0.7rem 0.7rem 0.7rem $box_shadow_secondary;
    border: none;
    transition: 0.3s ease-in-out;
    margin-top: 2.2rem;
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      width: 26rem;
      margin-top: 0;
    }
    @media screen and (min-width: 1440px) {
    }

    &__num {
      @include flex-row-c-c;
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      left: -3rem;
      margin-top: 0.7rem;
      border-radius: 2rem;
      background-color: $color_primary;
      color: $font_color_secondary;
      font-size: 1.4rem;
      font-weight: 400;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        width: 2.5rem;
        left: -2rem;
        margin-top: 0;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &__logo {
      color: $color_logo;
      font-size: 2rem;
      margin-top: 0.8rem;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        margin-top: 0;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &__txt {
      @include flex-row-c-c;
      width: 20.3rem;
      margin-right: 3.4rem;
      margin-top: 0.9rem;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        margin-right: 0;
        margin-top: 0;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &:hover {
      cursor: pointer;
      animation: transition-color 500ms;
      animation-fill-mode: forwards;
    }
  }
  &__degustez {
    @include flex-row-c-c;
    width: 32.2rem;
    height: 7.3rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    background-color: $background_color_secondary;
    box-shadow: 0.7rem 0.7rem 0.7rem $box_shadow_secondary;
    border: none;
    transition: 0.3s ease-in-out;
    margin-top: 2.7rem;
    @media screen and (min-width: 992px) and (max-width: 1439px) {
      width: 26rem;
      margin-top: 0;
    }
    @media screen and (min-width: 1440px) {
    }

    &__num {
      @include flex-row-c-c;
      width: 2.4rem;
      height: 2.4rem;
      position: relative;
      left: -3rem;
      margin-top: 0.3rem;
      border-radius: 2rem;
      background-color: $color_primary;
      color: $font_color_secondary;
      font-size: 1.4rem;
      font-weight: 400;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        width: 2.5rem;
        margin-top: 0;
        left: -2rem;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &__logo {
      color: $color_logo;
      font-size: 2rem;
      margin-top: 0;
    }

    &__txt {
      @include flex-row-c-c;
      width: 20.3rem;
      margin-right: 3rem;
      margin-top: 0.3rem;
      @media screen and (min-width: 992px) and (max-width: 1439px) {
        margin-right: 0;
        margin-top: 0;
      }
      @media screen and (min-width: 1440px) {
      }
    }

    &:hover {
      cursor: pointer;
      animation: transition-color 500ms;
      animation-fill-mode: forwards;
    }
  }
}
