// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  &--intro {
    width: 21.8rem;
    height: 5rem;
    margin-top: 3.3rem;
    margin-bottom: 5.7rem;
    margin-left: 0.6rem;
    padding-bottom: 0.3rem;
    padding-left: 0.8rem;
    border-radius: 3rem;
    border-style: none;
    box-shadow: 0.7rem 0.7rem 0.7rem $box_shadow_primary;
    background: $background_gradient_btn;
    font-weight: 500;
    color: $font_color_secondary;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
  &__choisissez {
    @include btn__fonctionnement(
      1.1rem,
      0.4rem,
      0rem,
      0rem,
      23.3rem,
      1rem,
      0.3rem
    );
  }
  &__composez {
    @include btn__fonctionnement(
      2.2rem,
      0.7rem,
      0.8rem,
      0rem,
      20.3rem,
      3.4rem,
      0.9rem
    );
  }
  &__degustez {
    @include btn__fonctionnement(
      2.7rem,
      0.3rem,
      0rem,
      0.2rem,
      20.3rem,
      3rem,
      0.3rem
    );
  }
}
