.restaurants {
  &__1 {
    @include card_restaurant(102%);
    margin-right: auto;
    @media screen and (min-width: 992px) {
      margin-bottom: 9rem;
      margin-right: 0;
    }
  }
  &__2 {
    @include card_restaurant(61%);
    @media screen and (min-width: 992px) {
      margin-bottom: 9rem;
      margin-right: auto;
    }
  }
  &__3 {
    @include card_restaurant(95%);
    margin-right: auto;
    @media screen and (min-width: 992px) {
      margin-bottom: 9rem;
      margin-right: 0;
    }
  }
  &__4 {
    @include card_restaurant(95%);
    @media screen and (min-width: 992px) {
      margin-bottom: 9rem;
      margin-right: auto;
    }
  }
}
