@keyframes loading-spinner {
  from {
    transform: rotate(0deg) translateX(7rem) rotate(0deg);
    background-color: #ff79da;
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg) translateX(7rem) rotate(-360deg);
    background-color: #9356dc;
    opacity: 0;
  }
}

@keyframes fadein-home {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.spinner {
  &--loading {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(100vh / 2);
  }

  &--fadein {
    animation: fadein-home;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
}

%circle--rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  position: fixed;
  animation: loading-spinner 2s;
  animation-iteration-count: 2;
}

$circle-delay: 0ms;
$circle-inc: 50ms;

@for $i from 1 through 14 {
  $circle-delay: calc(#{$circle-delay} + #{$circle-inc});
  .circle--rotate-#{$i} {
    @extend %circle--rotate;
    animation-delay: $circle-delay;
  }
}
