// ------------------------------------------------------------------------------------------------
// Lorsqu'il y a plusieurs thèmes, ce fichier contient tout ce qui se rapporte à celui par défaut.
// ------------------------------------------------------------------------------------------------

$font_type_primary: "Roboto";
$font_type_secondary: "Shrikhand";

$font_color_primary: #000000;
$font_color_secondary: #ffffff;

$color_primary: #9356dc;
$color_secondary: #ff79da;
$color_tertiary: #99e2d0;

$color_logo: #7e7e7e;

$box_shadow_primary: #c8c8c8;
$box_shadow_secondary: #ededed;

$background_color_primary: #ffffff;
$background_color_secondary: #f6f6f6;
$background_color_footer: #353535;

$background_color_input: #eaeaea;

$background_gradient_location: linear-gradient(
  180deg,
  rgba(206, 206, 206, 1) 0%,
  rgba(213, 213, 213, 1) 1%,
  rgba(221, 221, 221, 1) 2%,
  rgba(227, 227, 227, 1) 3%,
  rgba(232, 232, 232, 1) 4%,
  rgba(234, 234, 234, 1) 100%
);

$background_gradient_btn: linear-gradient(
  166deg,
  #d66bdb 0%,
  #e46fda 22%,
  #d96cdb 43%,
  #a85cdb 82%
);
