/* Sélecteur */
* {
} /* S'applique à l'entiereté de la page */
.nomclass {
} /* S'applique à la class */
#nomid {
} /* S'applique à id */
h1,
em {
} /* S'applique à h1 & em */
h1 em {
} /* S'applique à em inclus dans h1 */
h3 + p {
} /* Sélectionne la première balise <p> située après un titre <h3>*/
a[title] {
} /* Sélectionne tous les liens <a> qui possèdent un attribut title*/
a[title="Cliquez ici"] {
} /* Idem, mais l'attribut doit en plus avoir exactement pour valeur « Cliquez ici ».*/
a[title*="ici"] {
} /* Idem, l'attribut doit cette fois contenir dans sa valeur le mot « ici » (peu importe sa position).*/

/*Déclaration*/
:root {
  --voirbordure: "none";
} /* déclaration de variable*/
a:hover {
} /* Apparence au survol des liens */
p:hover {
} /* Apparence au survol du paragraphe */
a:active {
} /* Quand le visiteur clique sur le lien */
a:focus {
} /* Quand le visiteur sélectionne le lien */
a:visited {
} /* Quand le visiteur a déjà vu la page concernée */
:required {
}
:invalid {
}

/*ordre des prioritées*/
p {
} /**/
.class {
} /**/
#id {
} /**/
p {
  color: blueviolet !important ;
} /*Force l'application*/

/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 1280px */
@media screen and (max-width: 1280px) {
}

/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1024px et 1280px */
@media all and (min-width: 1024px) and (max-width: 1280px) {
}

/* Sur les téléviseurs */
@media tv {
}

/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait) {
}

@font-face {
  /* Définition d'une nouvelle police nommée LearningCurveProRegular */
  font-family: "LearningCurveProRegular";
  src: url("LearningCurve_OT-webfont.eot");
  src: url("LearningCurve_OT-webfont.eot?#iefix") format("embedded-opentype"),
    url("LearningCurve_OT-webfont.woff") format("woff"),
    url("LearningCurve_OT-webfont.ttf") format("truetype"),
    url("LearningCurve_OT-webfont.svg#LearningCurveProRegular") format("svg");
  font-style: normal; /* Par défaut */
  font-weight: bold;
}
/*Voici les différents formats de fichiers de polices qui existent et qu'il faut connaître :
.eot : Embedded OpenType. Fonctionne sur Internet Explorer uniquement, toutes versions. Ce format est propriétaire, produit par Microsoft.
.otf : OpenType Font. Ne fonctionne pas sur Internet Explorer.
.svg : SVG Font. Le seul format reconnu sur les iPhones et iPads pour le moment.
.woff : Web Open Font Format. Nouveau format conçu pour le Web, qui fonctionne sur IE9 et tous les autres navigateurs.
*/

exemplefontsize {
  /*Font */
  font-family: Impact, "Arial Black"; /* Police à utiliser dans l'odre en fonction des navigateurs si l'internaute n'a pas la même police on précise en général plusieurs noms de polices */
  font-size: 2em; /* Taille relative - Recommandé */
  font-size: small; /* Taille relative */
  font-size: 16px; /* Taille absolu */
  font-style: normal; /* Par défaut */
  font-style: italic; /* italic */
  font-weight: bold; /**/
  font-weight: bolder;
  font-weight: 400;

  transform: translate(20px, 30px);
  transform: translateX(20px);
  transform: translateY(20px);
  transform: rotate(45deg);
  transform: scale(1.2);
  transform: scaleX(1.2);
  transform: scaleY(1.2);
  transform: skew();
  transform: skewX(-25deg);
  transform: skewY(-85deg);

  transition: background-color 0.2 ease-in-out;
  transition-property: ;
  transition-duration: ;
  transition-timing-function: ease;
  transition-delay: 0s;

  line-height: 10%; /* Hauteur minimal des lignes */
  line-height: 10px;
  text-decoration: blink; /* clignotant. Ne fonctionne pas sur tous les navigateurs (Internet Explorer et Google Chrome, notamment). */
  text-decoration: underline; /* souligné */
  text-decoration: line-through; /* barré */
  text-decoration: overline; /* ligne au-dessus */
  text-decoration: none; /* normal (par défaut) */
  text-align: center; /* texte centré */
  text-align: justify; /* stifier le texte permet de faire en sorte qu'il prenne toute la largeur possible sans laisser d'espace blanc à la fin des lignes. Les textes des journaux, par exemple, sont toujours justifiés.*/
  text-align: right; /* droite */
  text-align: left; /* gauche */
  color: #ffffff; /* couleur du texte */
  color: rgba(red, green, blue, alpha);
  color: hsla(hue, saturation, lightness, alpha);
  text-shadow: 1em 1em 1em #ffffff; /* Une ombre qui s'applique au texte */

  /*Background Layout */
  background: url("soleil.png") fixed no-repeat top right,
    url("neige.png") fixed; /* background dont la valeur peut combiner plusieurs des propriétés vues précédemment : background-image, background-repeat, background-attachment et background-position.*/
  background-color: #ffffff; /* le fond de la page aura la couleur #FFFFFF */
  background-image: url("neige.png"); /* image en fond */
  background-image: url("neige.png"), url("soleil.png"); /* superposition d'image en fond */
  background-attachment: fixed; /* Le fond restera fixe */
  background-attachment: scroll; /* l'image de fond défile avec le texte (par défaut) */
  background-repeat: no-repeat; /* le fond ne sera pas répété. L'image sera donc unique sur la page */
  background-repeat: repeat-x; /* le fond sera répété uniquement sur la première ligne, horizontalement */
  background-repeat: repeat-y; /* le fond sera répété uniquement sur la première colonne, verticalement. */
  background-repeat: repeat; /* le fond sera répété en mosaïque (par défaut). */
  background-repeat: no-repeat, no-repeat; /* le fond sera répété en mosaïque (par défaut). */
  background-position: top right; /* en haut à droite */
  background-position: top right, center right; /* en haut à droite */
  background-position: 30px 50px; /* 30 pixels de la gauche et à 50 pixels du haut */
  background: linear-gradient(#e66465, #9198e5); /*Dégradé de couleur*/
  background: radial-gradient(aqua, blue);
  opacity: 0.5; /* Transparence */

  /* Positionnement img */
  float: left; /* l'élément flottera à gauche. */
  float: right; /* l'élément flottera à droite */

  clear: left; /* le texte se poursuit en-dessous après un float: left; */
  clear: right; /* le texte se poursuit en-dessous après un float: right; */
  clear: both; /* le texte se poursuit en-dessous, que ce soit après un float: left; ou après un float: right;. */

  z-index: ;

  /*1. le décalage horizontal de l'ombre ;
	2. le décalage vertical de l'ombre ;
	3.l'adoucissement du dégradé ;
	4.la couleur de l'ombre.
	5. Dans ce cas, l'ombre sera placée à l'intérieur du bloc, pour donner un effet enfoncé (pas obligatoire)
	Par exemple, pour une ombre noire de 3em , sans adoucissement, on écrira :
	*/

  /* Marge exterieur / Espace entre les blocs */
  margin: 10px; /* Marge exterieur /- block & inline */
  margin: 0 auto; /* On peut donc demander à ce que le bloc soit centré avec auto */
  margin-top: 10px; /* Marge extérieure en haut */
  margin-bottom: 10px; /* Marge extérieure en bas ; */
  margin-left: 10px; /* Marge extérieure à gauche ; */
  margin-right: 10px; /* Marge extérieure à droite. */

  /* Bordure autour du padding et du contenu */
  border: 1em #ffffff solid; /* largeur couleur typedebordure ; */
  border-top: 1em #ffffff solid; /* juste pour la bordure du haut */
  border-bottom: 1em #ffffff solid; /* juste pour la bordure du bas */
  border-left: 1em #ffffff solid; /* juste pour la bordure de gauche */
  border-right: 1em #ffffff solid; /* juste pour la bordure de droite */
  border-radius: 1em; /* bordure arrondi de 1em */
  border-radius: 1em 2em 3em 4em; /* 1 en haut à gauche ; 2 en haut à droite ; 3 en bas à droite ; 4 en bas à gauche. */
  border-radius: 3em / 2em; /* modification de la courbe */
  border-top-left-radius: 1px; /*bordure arrondi en haut à gauche*/
  border-top-right-radius: 1px; /*bordure arrondi en haut à droite*/
  border-bottom-left-radius: 1px; /*bordure arrondi en bas à gauche*/
  border-bottom-right-radius: 1px; /*bordure arrondi en bas à droite*/

  /* Marge intérieur / Espace entre le contenu et la bordure */
  padding: 10px; /* Marge intérieur dans tout les sens */
  padding-top: 10px; /* Marge intérieure en haut ; */
  padding-bottom: 10px; /* Marge intérieure en bas ; */
  padding-left: 10px; /* Marge intérieure à gauche ; */
  padding-right: 10px; /* Marge intérieure à droite. */

  /* Dimension du contenu d'un bloc ; par défaut le minimum en hauteur et le maximum en largeur */
  width: 350px; /* Largeur du contenu d'un bloc */
  height: 350px; /* Hauteur du contenu d'un bloc */
  min-width: 200px; /* Taille minimum du contenu d'un bloc en largeur */
  max-width: 100px; /* Taille maximum du contenu d'un bloc en largeur */
  min-height: 400px; /* Taille minimum du contenu d'un bloc en hauteur */
  max-height: 100px; /* Taille maximum du contenu d'un bloc en hauteur */

  /**/
  box-sizing: border-box; /* Lors de l'utilisation de width ou/et height ça permet d'ajuster border et padding sur le total de la hauteur et la largeur.*/
  box-shadow: 10px 5px 5px red; /* Une ombre s'applique à tout le bloc et prend quatre valeurs dans l'ordre suivant : */

  /* Gestion du texte qui dépasse le bloc */
  overflow: auto; /*C'est le navigateur qui décide de mettre ou non des barres de défilement (il n'en mettra que si c'est nécessaire). C'est la valeur que je conseille d'utiliser le plus souvent. */
  overflow: hidden; /* le texte est coupé dans le bloc */
  overflow: visible; /* Valeur par défaut ; Le texte s'affiche en dehors du bloc */
  overflow: scroll; /* Affiche une barre de défilement même si le texte ne dépasse pas la bar */
  word-wrap: break-word; /* pour eviter au texte de dépasser sur la gauche d'un bloc */

  /*définit la façon dont un élément est positionné dans un document*/
  position: absolute;
  position: static; /* Valeur par défaut */
  position: relative;
  position: fixed;

  /*Flexbox*/
  display: flex; /* Activer Flexbox */

  /*Direction*/
  flex-direction: row; /* Sur une ligne */
  flex-direction: row-reverse; /* Sur une ligne inversé */
  flex-direction: column; /* organisé sur une colonne */
  flex-direction: column-reverse; /* organisé sur une colonne inversé */

  /*Retour à la ligne*/
  flex-wrap: wrap; /* les éléments passent à la ligne */
  flex-wrap: wrap-reverse; /* les éléments passent à la ligne à l'envers*/
  flex-wrap: nowrap; /* les éléments se resserent tant qu'il peuvent */

  /*Aligner sur l'axe horizontal*/
  justify-content: flex-start; /*aligné au début (par défaut)*/
  justify-content: flex-end; /*aligné à la fin*/
  justify-content: center; /* aligné au centre */
  justify-content: space-between; /*les éléments sont étirés sur tout l'axe (il y a de l'espace entre eux)*/
  justify-content: space-around; /*idem, les éléments sont étirés sur tout l'axe, mais ils laissent aussi de l'espace sur les extrémités*/
  /*Aligner sur l'axe vertical*/
  align-items: stretch; /*les éléments sont étirés sur tout l'axe (valeur par défaut) */
  align-items: flex-start; /* alignés au début */
  align-items: flex-end; /*alignés à la fin*/
  align-items: center; /*alignés au centre*/
  align-items: baseline; /*alignés sur la ligne de base (semblable à flex-start)*/
  /*Changer l'ordre*/
  order: 1;
  flex: 1; /*Grossir*/
  /*tableau*/
  border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
  /*Changer la position du titre */
  caption-side: top;
  caption-side: bottom;
}

/*Pour les balises block*/

.box {
  border: 2px solid black;
  margin: 20px; /* Espace entre les blocs */
  padding: 10px;
  width: 300px;
}

/*Pour les balises inline*/

/*DOM*/
