// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin flex-col-c-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin font-16-500 {
  font-family: $font_type_primary;
  font-size: 1.6rem;
  font-weight: 500;
  color: $font_color_primary;
}

@mixin btn__fonctionnement(
  $root-mt,
  $num-mt,
  $logo-mt,
  $logo-bt,
  $txt-w,
  $txt-mr,
  $txt-mt
) {
  @include flex-row-c-c;
  width: 32.2rem;
  height: 7.3rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: $background_color_secondary;
  box-shadow: 0.7rem 0.7rem 0.7rem $box_shadow_secondary;
  border: none;
  transition: 0.3s ease-in-out;
  margin-top: $root-mt;

  &__num {
    @include flex-row-c-c;
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    left: -3rem;
    margin-top: $num-mt;
    border-radius: 2rem;
    background-color: $color_primary;
    color: $font_color_secondary;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &__logo {
    color: $color_logo;
    font-size: 2rem;
    margin-top: $logo-mt;
  }

  &__txt {
    @include flex-row-c-c;
    width: $txt-w;
    margin-right: $txt-mr;
    margin-top: $txt-mt;
  }

  &:hover {
    cursor: pointer;
    animation: transition-color 500ms;
    animation-fill-mode: forwards;
  }
}

@mixin card_restaurant($position_pourcentage) {
  width: $restaurants_width;
  height: 25.1rem;
  border-radius: 1rem;
  background-color: white;
  font-size: 1.6rem;
  box-shadow: 0.7rem 0.7rem 0.7rem #ededed;
  margin-top: 1rem;
  margin-bottom: 1.8rem;
  margin-left: auto;
  margin-right: auto;

  &__vignette {
    position: relative;
    overflow: hidden;
    &__photo {
      display: block;
      width: $restaurants_width;
      height: 17.4rem;
      object-fit: cover;
      border-radius: 1rem 1rem 0 0;
      object-position: 50% $position_pourcentage;
    }
  }
  &__state {
    width: 8rem;
    height: 2.9rem;
    position: absolute;
    top: 1.3rem;
    left: 24.1rem;
    background-color: #99e2d0;
    color: #008766;
    border-left: 0.1rem solid rgba(153, 226, 208, 0.5);
    border-right: 0.1rem solid rgba(153, 226, 208, 0.5);
    border-radius: 0.2rem;
    border-top: none;
    border-bottom: none;
    background-clip: padding-box;
    font-weight: bold;
    font-family: "Roboto";
    font-size: 1.33rem;
    justify-content: center;
    align-items: center;

    &--new {
      display: flex;
      margin-top: 0.3rem;
      margin-left: 0.2rem;
      font-weight: bold;
      font-size: 1.4rem;
    }
    &--old {
      display: none;
    }
  }

  &__specification {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.7rem;

    &__txt {
      align-self: center;
      margin-left: 1.3rem;
      width: 26rem;
      font-size: 1.8rem;

      &__plat {
        font-weight: bold;
        height: 2.5rem;
      }

      &__etablissement {
        font-size: 1.7rem;
        font-weight: 300;
      }
    }

    &__avis {
      @include flex-row-c-c;
      font-size: 2.4rem;
      margin-right: 2.3rem;
      margin-bottom: 0.8rem;

      &:visited,
      &:link,
      &:active {
        text-decoration: none;
      }

      &--nolike {
        color: black;
      }

      &--like:hover {
        animation: gradient-heart;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
      }
    }
  }
  &:hover {
    // opacity: 0.6;
    // box-shadow: 0.9rem 0.9rem 0.9rem #ededed;
    // transition: all 0.3s ease-in-out;
  }
  // A comprendre
  * > .fa-hover-show,
  *:hover > .fa-hover-hidden {
    display: none;
  }
  *:hover > .fa-hover-show {
    display: inline-block;
  }
}

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}
