/* Animation */

@keyframes loading-spinner {
  from {
    transform: rotate(0deg) translateX(7rem) rotate(0deg);
    background-color: #ff79da;
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg) translateX(7rem) rotate(-360deg);
    background-color: #9356dc;
    opacity: 0;
  }
}

@keyframes gradient-heart {
  from {
    background: linear-gradient(#a45cdc, #e471da);
    background-clip: text;
    color: transparent;
  }
  to {
    background: linear-gradient(#a45cdc, #e471da);
    background-clip: text;
    color: transparent;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes transition-color {
  from {
  }
  to {
    background-color: $background_color_fonctionnement;
    opacity: 0.8;
  }
}

@keyframes anim-menu-btn-i {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes gradientposition {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

.fadein {
  animation: fadein;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
