/* Animation */

@keyframes fadein-menu {
  from {
  }
  to {
    background-color: #f5edff;
    opacity: 0.8;
  }
}

@keyframes anim-menu-btn-i {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anim-menu-start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
