/* Animation */
@keyframes anim-loading-spinner {
  from {
    transform: rotate(0deg) translateX(7rem) rotate(0deg);
    background-color: #ff79da;
    opacity: 0.5;
  }

  to {
    transform: rotate(360deg) translateX(7rem) rotate(-360deg);
    background-color: #9356dc;
    opacity: 0;
  }
}

@keyframes anim-fadein-home {
  from {
    opacity: 0;
    display: none;
  }

  to {
    opacity: 1;
    display: flex;
  }
}

@keyframes anim-fonctionnement-btn {
  from {
  }
  to {
    background-color: #f5edff;
    opacity: 0.8;
  }
}
