// -----------------------------------------------------------------------------
//  Ce fichier contient les styles basiques
// -----------------------------------------------------------------------------

html {
  font-family: $font_type_primary;
  font-size: 62.5%;
  background-color: $background_color_primary;
  box-sizing: border-box;
  @media screen and (min-width: 768px) and (max-width: 991px) {
    font-size: 90%;
  }
  // @media screen and (min-width: 992px) and (max-width: 1439px) {
  //   font-size: 100%;
  // }
  // @media screen and (min-width: 1440px) {
  //   font-size: 125%;
  // }
}

body {
  font-size: 1.6rem;
}

h1,
h2 {
  margin: 0;
  // line-height: 0;
}

p {
  margin: 0;
}

i {
  font-style: normal;
}

input {
  border-style: none;
  padding: 0;
}

// Voir: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $font_color_primary;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
